<app-img-pre-load [src]="'http://lorempixel.com/400/200/'"></app-img-pre-load>
<app-img-pre-load [src]="'http://lorempixel.com/200/200/'"></app-img-pre-load>
<app-img-pre-load [src]="'https://loremflickr.com/320/240'"></app-img-pre-load>
<app-img-pre-load [src]="'https://loremflickr.com/320/240'"></app-img-pre-load>
<app-img-pre-load></app-img-pre-load>
<!-- <app-img-pre-load [src]="'/assets/img1.jpg'"></app-img-pre-load> -->
<app-img-pre-load [src]="'https://loremflickr.com/320/240'"></app-img-pre-load>
<app-img-pre-load [src]="'https://loremflickr.com/320/240'"></app-img-pre-load>
<app-img-pre-load [src]="'https://loremflickr.com/320/240'"></app-img-pre-load>